
  <ion-content padding='true'>
    <ion-row class="ion-row-center padding-top-1">
      <ion-col>
        <img src="assets/images/logo.png" class="smallLogo"/>
      </ion-col>
    </ion-row>
  <form>
    <ion-list class="margin-bottom-1">
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input  [(ngModel)] ="userName" name="userName" autocomplete="off" type="text"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [(ngModel)] ="password" autocomplete="off" type="password" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button class="primary" expand="block" share="round" color="primary" (click)="login()">Login</ion-button>
    <ion-row class="ion-row-center padding-top-2 cursor-pointer font-size-1">
      <ion-col color="primary" class="signup-col">
        <ion-label>Don't have an account?</ion-label> &nbsp;<ion-label (click)="createAccount()" color="primary">Sign up now</ion-label>
      </ion-col>
    </ion-row>
  </form>
  </ion-content>
